# Python Bytecode
pycache/
*.py[cod]
*$py.class

# Distribution / Packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments (Where your local libraries live)
.env
.env.prod
.venv
env.json
env/
venv/
ENV/

# AWS SAM - CRITICAL DO NOT REMOVE
.aws-sam/

# OS & IDE Files
.DS_Store
.vscode/
.idea/

# Environment Variables
.env

# Postman environment files
postman/
.postman

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/