# --- Connect to local Postgres (Docker) ---
# {
#  "Parameters": {
#    "DB_HOST": "host.docker.internal",
#    "DB_NAME": "vcat_sandbox",
#    "DB_USER": "postgres",
#    "DB_PASSWORD": "LOCAL_POSTGRES_PASSWORD",
     "USER_POOL_ARN": "arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_XXXXXXXXX"
#  }
# }

# --- Connect to RDS (Docker) ---
# {
#  "Parameters": {
#    "DB_HOST": "RDS_HOSTNAME",
#    "DB_NAME": "postgres",
#    "DB_USER": "postgres",
#    "DB_PASSWORD": "LOCAL_POSTGRES_PASSWORD",
     "USER_POOL_ARN": "arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_XXXXXXXXX"
#  }
# }
